.container{
  margin-top: 50px;
  height: 300px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.curr-image{
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 300px;
  height: 100%;
}

.hide-image{
  display: none;
}

.arrow{
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #ffff;
  filter: drop-shadow(0px 0px 5px #555);
}

.left-arrow{
  left: 1rem;
}

.right-arrow{
  right: 1rem;
}
.circle-indicator{
  display: flex;
  position: absolute;
  bottom: 1rem;
}
.current-indicator{
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.inactive{
  background-color: gray;
}

